.nav-image{
    height: 20vh;
    width: 100%;
    background-image: url(/Pasajeros_Titanic/images/titanic_banner.webp);
    background-size: cover;
    color: white;
}
#p1,#p2,#p3,#p4,#p5{
    display: none;
}

#input-pasajero{
    border: 2px solid black;
    border-radius: 10px;
    display: none;

}
#lista-pasajeros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}